.home-elc
{
    background: url(../images/easypattern4k.png)        
}

.imgtext
{
    position : relative;
    margin: auto;
    bottom: 50px;
    background: rgb(250,250,250,0.5) ;
}

.navbar-elc-fixed
{
    background-color: #1E3AE2;
}


/*.navbar-elc .navbar-nav li a{
    background-color: #1E3AE2;
}*/ 

.one-miner img
{
    max-height: 300px;    
}
